
<footer class="footer">
<div class="container">
<div class="footer_footer">
    <div class="footer_top">
        <div class="footer_left">
            <div class="footer_block1">
            <ul>
            <li class="footer_li"><p class="text_user">Вход для партнеров</p></li>
            <li class="footer_li"><p class="text_company">О компании</p></li>
            <li class="footer_li"><p class="text_contact">Контакты</p></li>
            </ul>
            </div>
            <div class="footer_block2">
            <div><p class="text_cv">Будь на связи:</p></div>
            <div>
            <ul class="footer_ul">
            <li class="vk_b"><div class="vk"><a hreff="">{% include '..\..\images\vk.svg' %}</a></div></li>
            <li class="ok_b"><div class="ok"><a hreff="" >{% include '..\..\images\ok.svg' %}</a></div></li>
            <li class="yt_b"><div class="yt"><a hreff="" >{% include '..\..\images\yt.svg' %}</a></div></li>
            <li class="insta_b"><div class="insta"><a hreff="">{% include '..\..\images\insta.svg' %}</a></div></li>
            </ul>
            </div>
            </div>
        </div>
        <div class="footer_right">
            <div class="footer_block3">
                <ul>
                    <li class="footer_li"><a href="tel: 88005006105" class="nomer">8 800 500-61-05</a></li>
                    <li class="footer_li"><p class="help_t">Круглосуточная поддержка</p></li>
                    <li class="footer_li"><p clas="help_c">© 2016 OOO «Городские Круизы»</p></li>
                </ul>
            </div>  
        </div>
    </div>
</div>
<div>
</footer>
