<footer class="footer">
<div class="footer_footer">
    <div class="footer_top">
        <div class="footer_block1">
            <ul>
                <li class="footer_li"><p class="text_user">Вход для партнеров</p></li>
                <li class="footer_li"><p class="text_company">О компании</p></li>
                <li class="footer_li"><p class="text_contact">Контакты</p></li>
            </ul>
        </div>
        <div class="footer_block2">
            <div><p class="text_cv">Будь на связи:</p></div>
            <div>
                <ul class="footer_ul">
                    <li class="vk_b"><img src="..\..\images\vk.svg" class="vk"></li>
                    <li class="ok_b"><img src="..\..\images\ok.svg" class="ok"></li>
                    <li class="yt_b"><img src="..\..\images\yt.svg" class="yt"></li>
                    <li class="insta_b"><img src="..\..\images\insta.svg" class="insta"></li>
                </ul>
            </div>
        </div>
        <div class="footer_block3">
            <ul>
                <li class="footer_li"><a href="tel: 88005006105" class="nomer">8 800 500-61-05</a></li>
                <li class="footer_li"><p class="help_t">Круглосуточная поддержка</p></li>
                <li class="footer_li"><p clas="help_c">© 2016 OOO «Городские Круизы»</p></li>
            </ul>
        </div>
    </div>
</div>
</footer>