<header class="header">
<div class="container">
<div class="header_top">
<div class="header_top_left">
    <div class="menu_hr">
        <div >
         <hr class="hr1">
        <hr class="hr2">
        <hr class="hr3">    
        </div>
    </div>
    <a href="" class="menu"></a>
    <ul class="menu_footer">
        <li>Популярные маршруты</li>
        <li>Расписание рейсов</li>
        <li>Забронированные рейсы</li>
        <li>Вход для партнеров</li>
        <li>О компании</li>
        <li>Контакты</li>
    </ul>
</div>
<div class="header_top_right">
    <ul class="header_top_right_ul">
        <li class="right_top">
        <img src="..\..\images\user.svg" class="img_li">
        <p class="li_menu">Личный кабинет</p>
        </li>
        <li class="right_top">
        <img src="..\..\images\invalid-name.svg" class="img_li">
        <p class="li_menu">Рубль</p>
        </li>
        <li class="right_top">
        <p class="li_menu">Ru</p>
        </li>
        <li>
        <a href="tel: 88005006105" class="nomer">8 800 500-61-05</a>
        <p class="text_help">Круглосуточная поддержка</p>
        </li>
    </ul>
</div>
</div >
<div class="header_low">
    <img src="..\..\images\logo.png" class="logo">
    <h2 class="text_h2">Морские прогулки</h2>
    <h1 class="text_h1">ПО ЧЁРНОМУ МОРЮ</h1>
    <button href="components.html" src="" class="button_menu">Выбрать круиз</button>
    <img src="..\..\images\1.svg" class="image_line">
</div>
</div>
</header>
