<header class="header">
<div class="header_header">
<div class="header_top">
    <div class="header_top_left">
    <a href="" class="menu"></a>
    <ul class="menu_footer">
        <li>Популярные маршруты</li>
        <li>Расписание рейсов</li>
        <li>Забронированные рейсы</li>
        <li>Вход для партнеров</li>
        <li>О компании</li>
        <li>Контакты</li>
    </ul>
    </div>
    <div class="header_top_right">
    <ul class="header_top_right_ul">
        <li class="right_top">
            <img src="..\..\images\user.svg">
            <p>Личный кабинет</p>
        </li>
        <li class="right_top">
            <img src="..\..\images\invalid-name.svg">
            <p>Рубль</p>
        </li>
        <li class="right_top">
            <p>Ru</p>
        </li>
        <li >
            <a href="tel: 88005006105" class="nomer">8 800 500-61-05</a>
            <p class="right_top">Круглосуточная поддержка</p>
        </li>
    </ul>
    </div>
</div >
<div class="header_low">
    <div><img src="..\..\images\logo.png" class="logo"></div>
    <div><h2 class="text_h2">Морские прогулки</h2></div>
    <div><h1 class="text_h1">ПО ЧЁРНОМУ МОРЮ</h1></div>
    <div><button href="components.html" src="" class="button_menu">Выбрать круиз</button></div>
    <div><img src="..\..\images\1.svg" class="image_line"></div>
</div>
</div>
</header>