{% extends 'tpl/inc/page.twig' %}

{% block content %}
<div class="head-line">
    <h1>{{ projectName }}</h1>
</div>

<div class="wrap">
    {% set pagesList = [
        {
            link: 'main',
            name: 'Главная',
        },
    ] %}

    <h2>Список страниц</h2>
    <ol class="box">
        {% for item in pagesList %}
            <li><a href="{{ item.link }}.html">{{ item.name }}</a></li>
        {% endfor %}
    </ol>
</div>

<style>
    header,
    footer {
        display: none;
    }
    body {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 16px;
        background-color: #fafafa;
        color: #212121;
        margin: 0;
        padding-bottom: 50px;
    }

    .head-line {
        background-color: #2286c3;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    }

    .head-line h1 {
        margin: 0 auto;
        padding: 20px 10px;
        max-width: 1280px;
        min-height: 68px;
        box-sizing: border-box;
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        word-wrap: break-word;
    }

    .wrap {
        padding: 0 10px 10px;
        text-align: center;
        overflow: hidden;
    }

    h2 {
        text-align: center;
        position: relative;
        display: inline-block;
        max-width: 1280px;
        margin: 30px 0 10px;
        padding: 0 20px;
        background-color: #fafafa;
        font-weight: 400;
    }

    h2:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 1280px;
        background-color: #f2f2f2;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: -1;
    }

    a {
        color: #212121;
        text-decoration: none;
    }

    a:hover {
        color: #2286c3;
        text-decoration: underline;
    }

    .box {
        padding: 20px 40px;
        margin: 20px auto 0;
        width: 100%;
        max-width: 1280px;
        border-radius: 2px;
        box-sizing: border-box;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        text-align: left;
        -webkit-columns: 210px auto;
        -moz-columns: 210px auto;
        columns: 210px auto;
        -webkit-column-gap: 50px;
        -moz-column-gap: 50px;
        column-gap: 50px;
        -webkit-column-rule: 1px solid #f2f2f2;
        -moz-column-rule: 1px solid #f2f2f2;
        column-rule: 1px solid #f2f2f2;
    }

    ol, ul {
        list-style-type: none;
    }

    li {
        word-wrap: break-word;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        padding: 10px 15px 10px 40px;
        position: relative;
    }

    li a:before {
        position: absolute;
        display: inline-block;
    }

    ol {
        counter-reset: item;
    }

    ol li {
        counter-increment: item;
    }

    ol li a:before {
        content: counter(item, decimal-leading-zero) ".";
        top: 13px;
        left: 0;
        color: #64b5f6;
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
        z-index: 10;
    }

    ol li a:visited:before {
        color: #ba68c8;
    }

    ul li a:before {
        content: '';
        top: 18px;
        left: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #64b5f6;
    }

    ul li a:visited:before {
        background-color: #ba68c8;
    }
</style>
{% endblock %}