{% extends '/tpl/inc/page.twig' %}
{% block content %}
    <div class="container">
        <div>
            <div>
                <div><p class="text_catalogcr">Каталог круизов</p></div>
                <div><p class="text_sort">Сортировать круизы по<em> цене</em></p></div>
            </div>
            <div class="card_block">
                <div class="card">
                    <div class="card_byy">
                        <div class="block_by"> <p class="text_by">ХИТ ПРОДАЖ</p></div>
                    </div>
                    <img class="card_img" src="..\..\images\lighthouse-1319560@3x.png">
                    <div>
                        <p class="text_anapa">Морской круиз в Анапу</p>
                        <p class="text_marsh"><strong>Маршрут:</strong> Сочи-Лазаревское-Геленджик-Анапа <p class="text_marsh"><strong>Продолжительность:</strong> 10 ч. 0 мин.</p></p>
                        <p class="text_money">49 000 руб.</p>
                    </div>
                </div>
                <div class="card">
                        <div class="card_byy">
                                <div class="block_by_ak"> <p class="text_by">АКЦИЯ</p></div>
                            </div>
                    <img class="card_img" src="..\..\images\lighthouse-1319560@3x.png">
                    <div>
                        <p class="text_anapa">Обзорная морская прогулка с экскурсией</p>
                        <p class="text_marsh"><strong>Маршрут:</strong> Сочи-Адлер-Сочи (без высадки)<p class="text_marsh"> <strong>Продолжительность:</strong> 1 ч. 0 мин.</p></p>
                        <div class="text_money_div"><p class="text_money">5 000 руб.</p><p class="text_money_old">15 000 руб.</p></div>
                    </div>
                </div>
                
                <div class="card_mini">
                        <img class="card_img" src="..\..\images\novorossiysk-211521-1920@3x.png">
                        <div>
                            <p class="text_anapa">Морской круиз в Новороссийск</p>
                            <p class="text_marsh"><strong>Маршрут:</strong> Сочи-Геленджик-Новороссйиск-Геленджик-Сочи <p class="text_marsh"><strong>Продолжительность:</strong> 13 ч. 0 мин.</p></p>
                            <p class="text_money">14 800 руб.</p>
                        </div>
                    </div>
                    
                    <div class="card_mini">
                            <img class="card_img" src="..\..\images\sea-3141781-1920@3x.jpg">
                            <div>
                                <p class="text_anapa">Морская прогулка в Абрау-Дюрсо  </p>
                                <p class="text_marsh"><strong>Маршрут:</strong> Сочи-Абрау-Дюрсо <p class="text_marsh"><strong>Продолжительность:</strong> 11 ч. 0 мин.</p></p>
                                <p class="text_money">14 800 руб.</p>
                            </div>
                        </div>

            </div>
            <div class="button_cruiz">
                <button href="components.html" src="" class="button_menu">Больше круизов</button>
            </div>
        </div>
    </div>
{% endblock %}