{% extends '/tpl/inc/page.twig' %}
{% block content %}
    <div class="container">
        <div>
            <div>
                <div><p class="text_catalogcr">Каталог круизов</p></div>
                <div><p class="text_sort">Сортировать круизы по цене</p></div>
            </div>
            <div class="card_block">
                <div class="card">
                    <img class="card_img" src="..\..\images\lighthouse-1319560@3x.png">
                    <div>
                        <p class="text_anapa">Морской круиз в Анапу</p>
                        <p class="text_marsh">Маршрут: Сочи-Лазаревское-Геленджик-Анапа <p class="text_marsh">Продолжительность: 10 ч. 0 мин.</p></p>
                        <p class="text_money">49 000 руб.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card_img" src="..\..\images\lighthouse-1319560@3x.png">
                    <div>
                        <p class="text_anapa">Обзорная морская прогулка с экскурсией</p>
                        <p class="text_marsh">Маршрут: Сочи-Адлер-Сочи (без высадки)<p class="text_marsh"> Продолжительность: 1 ч. 0 мин.</p></p>
                        <p class="text_money">5 000 руб.</p>
                    </div>
                </div>
                
                <div class="card_mini">
                        <img class="card_img" src="..\..\images\novorossiysk-211521-1920@3x.png">
                        <div>
                            <p class="text_anapa">Морской круиз в Новороссийск</p>
                            <p class="text_marsh">Маршрут: Сочи-Геленджик-Новороссйиск-Геленджик-Сочи <p class="text_marsh">Продолжительность: 13 ч. 0 мин.</p></p>
                            <p class="text_money">14 800 руб.</p>
                        </div>
                    </div>
                    
                    <div class="card_mini">
                            <img class="card_img" src="..\..\images\novorossiysk-211521-1920@3x.png">
                            <div>
                                <p class="text_anapa">Морская прогулка в Абрау-Дюрсо  </p>
                                <p class="text_marsh">Маршрут: Сочи-Абрау-Дюрсо <p class="text_marsh">Продолжительность: 11 ч. 0 мин.</p></p>
                                <p class="text_money">14 800 руб.</p>
                            </div>
                        </div>

            </div>
            <div class="button_cruiz">
                <button href="components.html" src="" class="button_menu">Больше круизов</button>
            </div>
        </div>
    </div>
{% endblock %}