////////////////////////////////////////////////////////////////////////////////
///////////header
.menu_footer{
display: none;
}

.header_top{
display: flex;
flex-direction: row;
justify-content:Space-between;
}

body{ background-color: #ececec;
color:#0d3351;
}

hr {
border: none; 
background-color: #0d3351; 
color: #0d3351; 
height: 1px; 
line-height: 1.5;
}

.button_menu{
cursor: pointer;
border: 0;
color: #ffffff;
width: 202px;
height: 47px;
background-color: #33c7fd;
}

.header_top_right_ul{
align-items:center;
display: flex;
flex-direction: row;
justify-content:Space-between;
}

.right_top{
cursor: pointer;
display: flex;
}

.img_li{
object-fit: contain;
}

.li_menu{
font-family: Raleway;
font-size: 14px;
line-height: 3.43;
letter-spacing: 0.7px;
text-align: center;
color: #0d3351;
}

.nomer{
cursor: pointer;
width: 126px;
height: 11px;
text-decoration: none;
font-family: Raleway-Bold;
font-size: 14px;
letter-spacing: 0.7px;
text-align: center;
color: #0d3351;
}

.text_help{
cursor: pointer;
font-family: Raleway;
font-size: 10px;
line-height: 1.8;
letter-spacing: 0.5px;
text-align: center;
color: #0d3351;
}
//////////////////////////////////////////////////////////////////////////////////
/////Main
.footer_left{
width: 40%;
justify-content: space-between;
display: flex;
}

.footer_right{
width: 60%;
justify-content: flex-end;
display: flex;
}

strong{
font-family: RobotoSlab;
}

.card_img{
  width: 100%;
  object-fit: contain;
  }

  .text_money_old{
    margin-left:30px;
    text-decoration: line-through;
    opacity: 0.55;
    font-family: RobotoSlab;
    font-size: 18px;
    letter-spacing: 0.9px;
    text-align: center;
    color: rgba(13, 51, 81, 0.55);
  }
//////////////////////////////////////////////////////////////////////////////////
///////////footer
.vk_b {clip-path: circle(50% at center center);
  width: 30px;
  height: 30px;
  background-color: #0d3351;
  }
  
  .yt_b {clip-path: circle(50% at center center);
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: #0d3351;
  }
  
  .ok_b {clip-path: circle(50% at center center);
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: #0d3351;
  }
  
  .insta_b {clip-path: circle(50% at center center);
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: #0d3351;
  }
  
  .vk {
  margin-left: 6px;
  margin-top: 5px;
  width: 18px;
  height: 11px;
  object-fit: contain;
  }
  
  .ok {
  margin-left: 10px;
  margin-top: 5px;
  width: 10px;
  height: 16px;
  object-fit: contain;
  }
  
  .yt {
  margin-left: 8px;
  margin-top: 6px;
  width: 14px;
  height: 18px;
  object-fit: contain;
  }
  
  .insta {
  margin-left: 8px;
  margin-top: 7px;
  width: 14px;
  height: 14px;
  object-fit: contain;
  }
  
  .help_t{
  cursor: pointer;
  font-family: Raleway;
  font-size: 10px;
  letter-spacing: 0.5px;
  }
  
  .help_c{
  font-family: Raleway;
  font-size: 14px;
  letter-spacing: 0.7px;
  }

///---------------------------------------------------------------------------------------
///---------------------------------------------------------------------------------------
///-----------------------Desktop------------------------------------------------------
///---------------------------------------------------------------------------------------
@include mq-desktop(){
.header{
background: url(../images/sochi-2258855@3x.jpg);
background-size: cover;
width: 100%;
height: 600px;
}

.header_top_left{
width: 50%
}

.menu_hr{
margin: 25px 0px 0px 0px;
width: 22px;
height: 16px;
align-items:center;
}

.menu {
width: 22px;
height: 16px;
background-color: #0d3351;
}

.header_top_right{
width: 50%;
}


.header_low{
height: 700px;
flex-direction:column;
justify-content: space-around;
align-items: center;
display: flex;
}

.logo {
width: 88px;
height: 88px;
object-fit: contain;
}

.text_h2{
width: 100%;
height: 64px;
font-family: RobotoSlab;
font-size: 36px;
line-height: 1.33;
letter-spacing: 1.8px;
text-align: center;
color: #0d3351;
}

.text_h1{
width: 100%;
height: 99px;
font-family: RobotoSlab;
font-size: 100px;
line-height: 0.48;
letter-spacing: -2.5px;
text-align: center;
color: #0d3351;
}


.image_line{
width: 55px;
height: 298px;
object-fit: contain;
}
///---------MAIN--------------------------------------------------------------------
///---------------------------------------------------------------------------------------
.text_catalogcr{
padding-top: 90px;
font-family: RobotoSlab;
font-size: 36px;
line-height: 1.33;
letter-spacing: 1.8px;
text-align: center;
}

.text_sort{
font-family: Raleway;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.7px;
text-align: center;
}

.card_block{
text-align: center;
}

.card {margin-top: 20px;
margin-right: 1%;
display:inline-block;
width: 48%;
background-color: #ffffff;
cursor: pointer;
}

.block_by{
border-width: 80px 44px 25px;
border-style: solid;
border-color: #33c7fd #33c7fd transparent;
margin-top: -7px;
margin-left: 420px;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}

.block_by_ak{
border-width: 80px 44px 25px;
border-style: solid;
border-color: #f20542 #f20542 transparent;
margin-top: -7px;
margin-left: 420px;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}

.text_by{
margin-top: -40px;
position	: absolute;
width: 65px;
height: 32px;
font-family: Raleway;
font-size: 14px;
line-height: 1.29;
letter-spacing: 0.7px;
text-align: center;
color: #ffffff;
}

.block_by{
border-width: 80px 44px 25px;
border-style: solid;
border-color: #33c7fd #33c7fd transparent;
margin-top: -7px;
margin-left: 420px;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}


.text_anapa{
padding-left: 5%;
font-family: RobotoSlab;
font-size: 18px;
line-height: 2.67;
letter-spacing: 0.9px;
text-align: left;
color: #00a2dd;
}

.text_marsh{
padding-left: 5%;
font-family: Raleway;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.7px;
text-align: left;
}

.text_money
{ padding-left: 5%;
font-family: RobotoSlab;
font-size: 30px;
line-height: 1.6;
letter-spacing: 1.5px;
text-align: left;
margin-bottom: 10px;
}

.text_money_div{
align-items:center;
display: flex;
justify-content: flex-start;
}

.card_mini{cursor: pointer;
margin-top: 20px;
margin-right: 1%;
display:inline-block;
width: 48%;
background-color: #ffffff;
}

.button_cruiz{
text-align: center;
padding: 25px;
margin-bottom: 50px;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////Footer/////////////////////////////////////////////////////////////////////////////////////////
.footer{
width: 100%;
height: 130px;
background-color: #ffffff;
}

.footer_top{
height: 130px;
display: flex;
flex-direction: row;
justify-content: Space-between;
align-items:center;
}

.footer_block2{
display: flex;
flex-direction:column;
justify-content:center;
}

.footer_li{
margin-bottom: 10px;
}

.text_user{
cursor: pointer;
font-family: Raleway;
font-size: 14px;
letter-spacing: 0.7px;
}
.text_company{
cursor: pointer;
font-family: Raleway;
font-size: 14px;
letter-spacing: 0.7px;
}

.text_contact{
cursor: pointer;
font-family: Raleway;
font-size: 14px;
letter-spacing: 0.7px;
}

.text_cv{
text-align: left;
}

.footer_ul{
cursor: pointer;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

}
//-----------------------------------------------------------------------------------------------
//------------TUB---------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------
@include mq-tub(){

  .footer_left{
    width: 50%;
    justify-content: space-between;
    display: flex;
    }
    
    .footer_right{
    width: 50%;
    justify-content: flex-end;
    display: flex;
    }

  .header{
    background: url(../images/sochi-2258855@2x.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    }
    
    .header_top_left{
    width: 30%
    }
    
    .menu_hr{
    margin: 25px 0px 0px 0px;
    width: 22px;
    height: 16px;
    align-items:center;
    }
    
    .menu {
    width: 22px;
    height: 16px;
    background-color: #0d3351;
    }
    
    .header_top_right{
    width: 70%;
    }
    
    
    .header_low{
    height: 670px;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    display: flex;
    }
    
    .logo {
    width: 88px;
    height: 88px;
    object-fit: contain;
    }
    
    .text_h2{
      height: 24px;
      font-family: RobotoSlab;
      font-size: 26px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.85;
      letter-spacing: 1.3px;
    width: 100%;
    text-align: center;
    color: #0d3351;
    }
    
    .text_h1{
      height: 65px;
      font-family: RobotoSlab;
      font-size: 72px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.67;
      letter-spacing: -1.8px;
    width: 100%;
    text-align: center;
    color: #0d3351;
    }
    
    
    .image_line{
    width: 55px;
    height: 298px;
    object-fit: contain;
    }
    ///---------MAIN--------------------------------------------------------------------
    ///---------------------------------------------------------------------------------------
    .text_catalogcr{
  font-family: RobotoSlab;
  font-size: 26px;
  line-height: 1.85;
  letter-spacing: 1.3px;
  text-align: center;
    padding-top: 80px;
    }
    
    .text_sort{
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    }
    
    .card_block{
    text-align: center;
    }
    
    .card {
    height: 508px;
    margin-top: 20px;
    margin-right: 1%;
    display:inline-block;
    width: 48%;
    background-color: #ffffff;
    cursor: pointer;
    }
    
    .block_by{
    border-width: 80px 44px 25px;
    border-style: solid;
    border-color: #33c7fd #33c7fd transparent;
    margin-top: -7px;
    margin-left: 420px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .block_by_ak{
    border-width: 80px 44px 25px;
    border-style: solid;
    border-color: #f20542 #f20542 transparent;
    margin-top: -7px;
    margin-left: 225px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .text_by{
    margin-top: -40px;
    position	: absolute;
    width: 65px;
    height: 32px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    }
    
    .block_by{
    border-width: 80px 44px 25px;
    border-style: solid;
    border-color: #33c7fd #33c7fd transparent;
    margin-top: -7px;
    margin-left: 225px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
    .text_anapa{
      margin-top: 30px;
    padding-left: 5%;
    font-family: RobotoSlab;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.9px;
    text-align: left;
    color: #00a2dd;
    }
    
    .text_marsh{
    padding-left: 5%;
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: left;
    }
    
    .text_money
    { margin-top: 20px;
      padding-left: 5%;
    font-family: RobotoSlab;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1.5px;
    text-align: left;
    margin-bottom: 10px;
    }
    
    .text_money_div{
    align-items:center;
    display: flex;
    justify-content: flex-start;
    }
    
    .card_mini{
      height: 508px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 1%;
    display:inline-block;
    width: 48%;
    background-color: #ffffff;
    }
    
    .button_cruiz{
    margin-bottom: 50px;
    text-align: center;
    padding: 25px;
    }

    .text_table{
      display: table;
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ///////Footer/////////////////////////////////////////////////////////////////////////////////////////
    .footer{
    width: 100%;
    height: 130px;
    background-color: #ffffff;
    }
    
    .footer_top{
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: Space-between;
    align-items:center;
    }
    
    .footer_block2{
    display: flex;
    flex-direction:column;
    justify-content:center;
    }
    
    .footer_li{
    margin-bottom: 10px;
    }
    
    .text_user{
    cursor: pointer;
    font-family: Raleway;
    font-size: 14px;
    letter-spacing: 0.7px;
    }
    .text_company{
    cursor: pointer;
    font-family: Raleway;
    font-size: 14px;
    letter-spacing: 0.7px;
    }
    
    .text_contact{
    cursor: pointer;
    font-family: Raleway;
    font-size: 14px;
    letter-spacing: 0.7px;
    }
    
    .text_cv{
    text-align: left;
    }
    
    .footer_ul{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

}

@include mq-mob(){
.menu_footer{
display: none;
}

.header_top_right{
display: none;
}

.header{
  background: url(../images/sochi-2258855@3x.jpg);
  background-size: cover;
  width: 100%;
  height: 583px;
  }
  
  .header_top_left{
  width: 30%
  }
  
  .menu_hr{
  margin: 25px 0px 0px 0px;
  width: 22px;
  height: 16px;
  align-items:center;
  }
  
  .menu {
  width: 22px;
  height: 16px;
  background-color: #0d3351;
  }
  
  .header_top_right{
  width: 70%;
  }
  
  
  .header_low{
  height: 670px;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  display: flex;
  }
  
  .logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  }
  
  .text_h2{
  font-family: RobotoSlab;
  font-size: 20px;
  line-height: 2.4;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  color: #0d3351;
  }
  
  .text_h1{
    font-family: RobotoSlab;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: -1.3px;
  width: 100%;
  text-align: center;
  color: #0d3351;
  }
  
  
  .image_line{
  width: 55px;
  height: 298px;
  object-fit: contain;
  }
  ///---------MAIN--------------------------------------------------------------------
  ///---------------------------------------------------------------------------------------
  .text_catalogcr{
font-family: RobotoSlab;
font-size: 26px;
line-height: 1.85;
letter-spacing: 1.3px;
text-align: center;
  padding-top: 80px;
  }
  
  .text_sort{
  font-family: Raleway;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.7px;
  text-align: center;
  }
  
  .card_block{
  text-align: center;
  }
  
  .card {
  height: 508px;
  margin-top: 20px;
  margin-right: 1%;
  display:inline-block;
  //width: 48%;
  background-color: #ffffff;
  cursor: pointer;
  }
  
  .block_by{
  border-width: 80px 44px 25px;
  border-style: solid;
  border-color: #33c7fd #33c7fd transparent;
  margin-top: -7px;
  margin-left: 420px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .block_by_ak{
  border-width: 80px 44px 25px;
  border-style: solid;
  border-color: #f20542 #f20542 transparent;
  margin-top: -7px;
  margin-left: 225px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .text_by{
  margin-top: -40px;
  position	: absolute;
  width: 65px;
  height: 32px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.7px;
  text-align: center;
  color: #ffffff;
  }
  
  .block_by{
  border-width: 80px 44px 25px;
  border-style: solid;
  border-color: #33c7fd #33c7fd transparent;
  margin-top: -7px;
  margin-left: 225px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  
  .text_anapa{
    margin-top: 30px;
  padding-left: 5%;
  font-family: RobotoSlab;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.9px;
  text-align: left;
  color: #00a2dd;
  }
  
  .text_marsh{
  padding-left: 5%;
  font-family: Raleway;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.7px;
  text-align: left;
  }
  
  .text_money
  { margin-top: 20px;
    padding-left: 5%;
  font-family: RobotoSlab;
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: 1.5px;
  text-align: left;
  margin-bottom: 10px;
  }
  
  .text_money_div{
  align-items:center;
  display: flex;
  justify-content: flex-start;
  }
  
  .card_mini{
    height: 508px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 1%;
  display:inline-block;
 // width: 48%;
  background-color: #ffffff;
  }
  
  .button_cruiz{
  margin-bottom: 50px;
  text-align: center;
  padding: 25px;
  }

  .text_table{
    display: table;
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ///////Footer/////////////////////////////////////////////////////////////////////////////////////////
  .footer{
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  }
  
  .footer_top{
    align-items: center;
  text-align: center;
  height: 130px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  }
  
  .footer_block2{
  display: flex;
  flex-direction:column;
  justify-content:center;
  }
  
  .footer_li{
  margin-bottom: 10px;
  }
  
  .text_user{
  cursor: pointer;
  font-family: Raleway;
  font-size: 14px;
  letter-spacing: 0.7px;
  }
  .text_company{
  cursor: pointer;
  font-family: Raleway;
  font-size: 14px;
  letter-spacing: 0.7px;
  }
  
  .text_contact{
  cursor: pointer;
  font-family: Raleway;
  font-size: 14px;
  letter-spacing: 0.7px;
  }
  
  .text_cv{
  text-align: center;
  }
  
  .footer_ul{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
.footer_block1{
  display: none;
}

.footer_left{
  text-align: center;
  width: 100%;
  justify-content: center;
  display: flex;
  }
  
  .footer_right{
  width: 100%;
  justify-content: center;
  display: flex;
  }

}